In [1]:
import joblib

In [2]:
df = joblib.load('df')
print(df)

           owner_name   follower  following  post_number
0   Muhammad Schaefer  108751787         45           61
1           Ezra Kemp  172731383         71           43
2            Eli Good  105194939         20           44
3    Lillianna Pruitt   14807976         11           88
4     Carlie Woodward  228517005         68           52
..                ...        ...        ...          ...
95      Alaina Cortez  206571647         83           82
96         Aiyana Orr  246069137         85           44
97        Damien Mack  175172516         84           58
98    Santino Shelton  103682240         86           71
99         Ezra Booth  296470673         49           89

[100 rows x 4 columns]

# 1:

In [3]:
# Filter rows in the DataFrame where 'following' is less than 11
energy = df.loc[df['following'] < 11]

# Print the filtered 'energy' category
print("Energy category:\n", energy)

# Print the length of the 'energy' DataFrame
print("Length of the 'energy' category:\t", len(energy))

Energy category:
         owner_name   follower  following  post_number
55  Dexter Salazar  265575683         10           54
71     Eden Walter   50414607         10           82
Length of the 'energy' category:	 2

# 2:

In [5]:
# Filter rows in the DataFrame where 'following' is less than 'post_number'
mesi = df.loc[df['following'] < df['post_number']]

# Print the filtered 'mesi' category
print("Mesi category:\n", mesi)

# Print the length of the 'mesi' DataFrame
print("Length of the 'mesi' category:\t", len(mesi))

Mesi category:
             owner_name   follower  following  post_number
0    Muhammad Schaefer  108751787         45           61
2             Eli Good  105194939         20           44
3     Lillianna Pruitt   14807976         11           88
6      Abbey Patterson  117816608         65           98
8        Teagan Newman  145440825         39           85
9     Bianca Velazquez  184433225         72           91
10         Emely Olsen  197123487         43           58
12       Ivan Randolph  233996265         31           45
13      Priscilla Shea   23888252         69           72
14         Ryan Berger  107802883         85           91
16      Kira Castaneda  246047852         12           63
17   Kadence Henderson   77927317         53           57
18      Timothy Fowler  224887843         50           73
19      Precious Ramos   48236154         34           76
24     Charles Morales  222955873         12           38
27    Hailee Armstrong  313687859         55           94
29     Gabriel Calhoun  132769603         16           58
39      Harper Hensley  224837846         57           59
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
43        Khalil Bryan  279582669         48           84
44      Jakobe Schultz  136273816         34           82
47       Zachery Keith   34037577         47           49
49  Yasmine Hutchinson  181380421         13           98
50        Marlee Moyer  224912384         36           95
52        Mylie Prince  172675476         18           43
54    Esmeralda Henson  240302137         65           96
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
59        Corey Hansen   10389852         28           63
62      Lilah Whitaker   95378667         31           49
64       Britney James  161446658         41           93
71         Eden Walter   50414607         10           82
78          Kian Hanna   79265883         21           24
79      Claire Salinas  239596097         49           66
81          Harper Day  151388804         34           59
82         Hope Becker   68662078         28           83
86       Nasir Mcgrath  107737269         12           99
87       Blaine Greene   17519059         83           88
88        Janet Knight  137375221         18           26
89        Lana Hensley  151213150         49           80
90     Destiney Orozco  250085334         61           72
92      Leslie Salinas  276001851         65           89
94      Reyna Copeland  214443881         44           89
99          Ezra Booth  296470673         49           89
Length of the 'mesi' category:	 45

# 3:

In [7]:


bronze = df.loc[df['follower'] > 1000000]


print("Bronze category:\n", bronze)


print("Length of the 'bronze' category:\t", len(bronze))

Bronze category:
            owner_name   follower  following  post_number
0   Muhammad Schaefer  108751787         45           61
1           Ezra Kemp  172731383         71           43
2            Eli Good  105194939         20           44
3    Lillianna Pruitt   14807976         11           88
4     Carlie Woodward  228517005         68           52
..                ...        ...        ...          ...
95      Alaina Cortez  206571647         83           82
96         Aiyana Orr  246069137         85           44
97        Damien Mack  175172516         84           58
98    Santino Shelton  103682240         86           71
99         Ezra Booth  296470673         49           89

[100 rows x 4 columns]
Length of the 'bronze' category:	 100

# 4:

In [8]:
# Silver category

# Filter rows in the DataFrame where 'follower' is greater than or equal to 10,000,000 and 'following' is less than 50
silver = df.loc[(df['follower'] >= 10000000) & (df['following'] < 50)]


print("Silver category:\n", silver)


print("Length of the 'silver' category:\t", len(silver))

Silver category:
             owner_name   follower  following  post_number
0    Muhammad Schaefer  108751787         45           61
2             Eli Good  105194939         20           44
3     Lillianna Pruitt   14807976         11           88
8        Teagan Newman  145440825         39           85
10         Emely Olsen  197123487         43           58
12       Ivan Randolph  233996265         31           45
16      Kira Castaneda  246047852         12           63
19      Precious Ramos   48236154         34           76
24     Charles Morales  222955873         12           38
29     Gabriel Calhoun  132769603         16           58
31          Ivy Fields  234324677         49           22
32        Jaime Stuart   71774373         48           44
36     Demarion Suarez   63641416         12           11
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
42    Chasity Cisneros  303490848         48           36
43        Khalil Bryan  279582669         48           84
44      Jakobe Schultz  136273816         34           82
47       Zachery Keith   34037577         47           49
49  Yasmine Hutchinson  181380421         13           98
50        Marlee Moyer  224912384         36           95
52        Mylie Prince  172675476         18           43
53         Raven Stone   82717282         48           16
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
59        Corey Hansen   10389852         28           63
60     Audrina Nichols  319228713         41           15
62      Lilah Whitaker   95378667         31           49
64       Britney James  161446658         41           93
71         Eden Walter   50414607         10           82
78          Kian Hanna   79265883         21           24
79      Claire Salinas  239596097         49           66
81          Harper Day  151388804         34           59
82         Hope Becker   68662078         28           83
83      Cameron Murphy  281439342         22           17
86       Nasir Mcgrath  107737269         12           99
88        Janet Knight  137375221         18           26
89        Lana Hensley  151213150         49           80
94      Reyna Copeland  214443881         44           89
99          Ezra Booth  296470673         49           89
Length of the 'silver' category:	 40

# 5:

In [9]:
# Golden category


golden = df.loc[((df['follower'] > 10000000) & (df['following'] < 20)) | ((df['post_number'] < 15) & (df['owner_name'].str.contains('R') == True))]


print("Golden category:\n", golden)


print("Length of the 'golden' category:\t", len(golden))

Golden category:
             owner_name   follower  following  post_number
3     Lillianna Pruitt   14807976         11           88
15          Hayden Roy  248522613         79           11
16      Kira Castaneda  246047852         12           63
24     Charles Morales  222955873         12           38
29     Gabriel Calhoun  132769603         16           58
36     Demarion Suarez   63641416         12           11
40         Alexia Moss  314936599         17           48
41        Boston Stout  293331811         13           56
49  Yasmine Hutchinson  181380421         13           98
52        Mylie Prince  172675476         18           43
55      Dexter Salazar  265575683         10           54
56         Jamie Oneal  252094671         12           41
71         Eden Walter   50414607         10           82
86       Nasir Mcgrath  107737269         12           99
88        Janet Knight  137375221         18           26
Length of the 'golden' category:	 15